.cd-user-modal { 
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background: rgba(52, 54, 66, 0.9); 
  z-index: 3; 
  overflow-y: auto; 
  cursor: pointer; 
  visibility: hidden; 
  opacity: 0; 
  -webkit-transition: opacity 0.3s 0, visibility 0 0.3s; 
  -moz-transition: opacity 0.3s 0, visibility 0 0.3s; 
  transition: opacity 0.3s 0, visibility 0 0.3s; 
} 
.cd-user-modal.is-visible { 
  visibility: visible; 
  opacity: 1; 
  -webkit-transition: opacity 0.3s 0, visibility 0 0; 
  -moz-transition: opacity 0.3s 0, visibility 0 0; 
  transition: opacity 0.3s 0, visibility 0 0; 
} 
.cd-user-modal.is-visible .cd-user-modal-container { 
  -webkit-transform: translateY(0); 
  -moz-transform: translateY(0); 
  -ms-transform: translateY(0); 
  -o-transform: translateY(0); 
  transform: translateY(0); 
} 
 
.cd-user-modal-container { 
  position: relative; 
  width: 90%; 
  max-width: 450px; 
  background: #FFF; 
  margin: 3em auto 4em; 
  cursor: auto; 
  border-radius: 0.25em; 
  -webkit-transform: translateY(-30px); 
  -moz-transform: translateY(-30px); 
  -ms-transform: translateY(-30px); 
  -o-transform: translateY(-30px); 
  transform: translateY(-30px); 
  -webkit-transition-property: -webkit-transform; 
  -moz-transition-property: -moz-transform; 
  transition-property: transform; 
  -webkit-transition-duration: 0.3s; 
  -moz-transition-duration: 0.3s; 
  transition-duration: 0.3s; 
} 
.cd-user-modal-container .cd-switcher:after { 
  content: ""; 
  display: table; 
  clear: both; 
} 
.cd-user-modal-container .cd-switcher li { 
  width: 50%; 
  float: left; 
  text-align: center; 
} 
.cd-user-modal-container .cd-switcher li:first-child a { 
  border-radius: .25em 0 0 0; 
} 
.cd-user-modal-container .cd-switcher li:last-child a { 
  border-radius: 0 .25em 0 0; 
} 
.cd-user-modal-container .cd-switcher a { 
  display: block; 
  width: 100%; 
  height: 50px; 
  line-height: 50px; 
  background: #d2d8d8; 
  color: #809191; 
} 
.cd-user-modal-container .cd-switcher a.selected { 
  background: #FFF; 
  color: #505260; 
} 
 
#cd-login, #cd-signup { 
  display: none; 
} 
 
#cd-login.is-selected, #cd-signup.is-selected{ 
  display: block; 
}
@charset "UTF-8";
/* CSS Document */

/*
DEMO 2
*/
.button20 {
	background-color:#3bb3e0;
	padding:10px;
	position:relative;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#fff;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	);
	-webkit-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 6px 0px #156785;
	-moz-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 6px 0px #156785;
	-o-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 6px 0px #156785;
	box-shadow: inset 0px 1px 0px #7fd2f1, 0px 6px 0px #156785;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.button20::before {
	background-color:#072239;
	content:"";
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	padding-left:2px;
	padding-right:2px;
	padding-bottom:4px;
	left:-2px;
	top:5px;
	z-index:-1;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 1px 0px #fff;
	-moz-box-shadow: 0px 1px 0px #fff;
	-o-box-shadow: 0px 1px 0px #fff;
	box-shadow: 0px 1px 0px #fff;
}

.button20:active {
	color:#156785;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
	background:rgb(44,160,202);
	-webkit-box-shadow: inset 0px 1px 0px #7fd2f1, inset 0px -1px 0px #156785;
	-moz-box-shadow: inset 0px 1px 0px #7fd2f1, inset 0px -1px 0px #156785;
	-o-box-shadow: inset 0px 1px 0px #7fd2f1, inset 0px -1px 0px #156785;
	box-shadow: inset 0px 1px 0px #7fd2f1, inset 0px -1px 0px #156785;
	top:7px;
}

.button20:active::before {
	top:-2px;
}