<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SubHandle</servlet-name>
    <servlet-class>servlet.SubHandle</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>change_cs_next</servlet-name>
    <servlet-class>servlet.change_cs_next</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>change_cs_prev</servlet-name>
    <servlet-class>servlet.change_cs_prev</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>SubHandle</servlet-name>
    <url-pattern>/servlet/SubHandle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>change_cs_next</servlet-name>
    <url-pattern>/servlet/change_cs_next</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>change_cs_prev</servlet-name>
    <url-pattern>/servlet/change_cs_prev</url-pattern>
  </servlet-mapping>

</web-app>